<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Steve Hollaar</title>
    <% include includes/headerfiles.ejs %>
  </head>
  <body>
    <div class="foursquare-checkins"></div>
  </body>
</html>