<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Steve Hollaar</title>
    <% include includes/headerfiles.ejs %>
  </head>
  <body>
    <header>
        <h1>Steve Hollaar</h1>
        <p>I'm a software engineer living in San Francisco.</p>
        <nav>
            <ul>
                <li class="active" data-page="dashboard">Dashboard</li>
                <li data-page="experiments">Experiments</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="dashboard">
            <header>
                <div class="timeframe">
                    <button data-timeframe="day" class="active">Day</button>
                    <button data-timeframe="week">Week</button>
                    <button data-timeframe="month">Month</button>
                    <button data-timeframe="year">Year</button>
                </div>
            </header>
            <section class="foursquare-checkins"></section>
        </section>
        <section class="experiments">
            <header></header>
        </section>
    </main>
  </body>
</html>