<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Steve Hollaar - Resume</title>
        <% include includes/headerfiles.ejs %>
    </head>
    <body>
        <div id="resume">
            <h1>Steve Hollaar</h1>
            <% include includes/resume.ejs %>
            <hr />
            <div class="center">
                Steve Hollaar  -  <a href="mailto:steve.hollaar@gmail.com">steve.hollaar@gmail.com</a>
            </div>
        </div>
    </body>
</html>