body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

a {
  color: #1ebad6; }
  a:hover {
    color: #0087A3; }

h1.title {
  font-size: 40px;
  text-align: center;
  margin: 10px 0; }
  h1.title span {
    color: #1ebad6; }
  @media (min-width: 768px) {
    h1.title {
      font-size: 50px;
      margin: 20px 0; } }

nav {
  background-color: #070716;
  border-top: 2px solid #1ebad6; }
  nav .page {
    color: #fff;
    text-align: center;
    background-color: #070716;
    padding: 15px 0; }
    nav .page h2 {
      font-size: 18px;
      margin: 0; }
    nav .page.active, nav .page:hover, nav .page:active {
      cursor: default;
      color: #070716;
      background-color: #1ebad6; }
    nav .page:not(.active) {
      cursor: pointer; }

.page-description-container {
  background-color: #070716;
  color: #fff;
  border-bottom: 2px solid #1ebad6;
  transition: height 1s; }
  .page-description-container .page-description {
    border-top: 2px solid #1ebad6;
    padding: 10px; }
    .page-description-container .page-description:not(.active) {
      display: none; }
    @media (min-width: 768px) {
      .page-description-container .page-description {
        border-left: 2px solid #1ebad6;
        border-right: 2px solid #1ebad6; } }
    .page-description-container .page-description p:last-child {
      margin-bottom: 0; }

main section:not(.active) {
  display: none; }
