section.dashboard header {
  text-align: center; }
  section.dashboard header h2 {
    margin-bottom: 5px; }
  section.dashboard header h3 {
    margin: 0;
    font-size: 16px;
    color: #aaa; }
section.dashboard .construction {
  margin-top: 20px;
  text-align: center; }
section.dashboard .foursquare-checkins {
  margin-top: 10px;
  color: #070716;
  background-color: #FFB91E;
  border: 1px solid #1EBAD6;
  padding: 10px; }
  section.dashboard .foursquare-checkins h2 {
    height: 26px;
    margin: 0;
    font-size: 24px; }
  section.dashboard .foursquare-checkins .checkins-container {
    max-height: 250px; }
  section.dashboard .foursquare-checkins ul.checkins {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 15px;
    max-height: 214px;
    overflow-y: scroll; }
    section.dashboard .foursquare-checkins ul.checkins li {
      line-height: 32px;
      border: 1px solid #FFB91E;
      cursor: pointer; }
      section.dashboard .foursquare-checkins ul.checkins li:not(.active):hover {
        border: 1px solid #FFFFFF; }
      section.dashboard .foursquare-checkins ul.checkins li.active {
        border: 1px solid #FFFFFF; }
      section.dashboard .foursquare-checkins ul.checkins li img {
        height: 32px; }
  section.dashboard .foursquare-checkins .map {
    height: 250px;
    width: 100%; }
    section.dashboard .foursquare-checkins .map .info-window h4 {
      margin: 5px 0; }
    section.dashboard .foursquare-checkins .map .info-window .time {
      font-size: 14px;
      font-weight: normal;
      margin: 0 4px; }
    section.dashboard .foursquare-checkins .map .info-window p {
      margin: 0; }

section.hacks .hack {
  margin-top: 30px;
  position: relative; }
  section.hacks .hack .connecting-line {
    content: '';
    border: 2px solid #FFB91E;
    position: absolute;
    z-index: -1; }
    @media (max-width: 767px) {
      section.hacks .hack .connecting-line {
        top: 25%;
        bottom: 25%;
        left: 50%; } }
    @media (min-width: 768px) {
      section.hacks .hack .connecting-line {
        top: 50%;
        left: 25%;
        right: 25%; } }
  section.hacks .hack .hack-image img {
    max-height: 250px;
    display: block;
    margin: 0 auto;
    border: 3px solid #FFB91E; }
    @media (max-width: 767px) {
      section.hacks .hack .hack-image img {
        max-width: 100%;
        height: auto; } }
  @media (max-width: 767px) {
    section.hacks .hack .hack-description-container {
      margin-top: 20px; } }
  @media (min-width: 768px) {
    section.hacks .hack .hack-description-container {
      height: 250px; }
      section.hacks .hack .hack-description-container:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.5em;
        /* Adjusts for spacing */ } }
  section.hacks .hack .hack-description-container .hack-description {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #070716;
    border: 3px solid #FFB91E; }
    section.hacks .hack .hack-description-container .hack-description .hack-title {
      font-size: 24px; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

a {
  color: #1EBAD6; }
  a:hover {
    color: #0087A3; }

h1.title {
  font-size: 40px;
  text-align: center;
  margin: 10px 0; }
  @media (min-width: 768px) {
    h1.title {
      font-size: 50px;
      margin: 20px 0; } }

nav {
  background-color: #070716; }
  nav .page {
    color: #FFFFFF;
    text-align: center;
    background-color: #070716;
    padding: 10px 0; }
    @media (min-width: 768px) {
      nav .page {
        padding: 15px 0; } }
    nav .page h2 {
      font-size: 18px;
      margin: 0; }
    nav .page.active, nav .page:hover, nav .page:active {
      cursor: default;
      color: #070716;
      background-color: #1EBAD6; }
    nav .page:not(.active) {
      cursor: pointer; }

.page-description-container {
  background-color: #070716;
  color: #FFFFFF;
  border-top: 2px solid #FFB91E; }
  .page-description-container .page-description {
    padding: 10px; }
    .page-description-container .page-description:not(.active) {
      display: none; }
    .page-description-container .page-description p {
      font-size: 14px;
      text-align: center; }
      .page-description-container .page-description p:last-child {
        margin-bottom: 0; }

main {
  margin: 15px 5px 55px; }
  @media (min-width: 768px) {
    main {
      margin-left: 25px;
      margin-right: 25px; } }
  main section {
    margin: 0 auto;
    max-width: 1000px; }
    main section:not(.active) {
      display: none; }

footer {
  border-top: 2px solid #FFB91E;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(7, 7, 22, 0.7); }
  footer p {
    line-height: 40px;
    text-align: center;
    color: #FFFFFF; }

.accent-1 {
  color: #1EBAD6; }

.accent-2 {
  color: #FFB91E; }

section.resume, #resume {
  max-width: 1000px;
  margin: 0 auto; }
  section.resume h1, #resume h1 {
    text-align: center;
    font-size: 42px; }
  section.resume .header, #resume .header {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; }
    section.resume .header .city, #resume .header .city {
      font-size: 14px;
      font-style: italic;
      margin: 5px 0;
      line-height: 32px; }
      @media (max-width: 767px) {
        section.resume .header .city, #resume .header .city {
          text-align: center;
          margin-bottom: 0; } }
    section.resume .header .title, #resume .header .title {
      margin: 5px 0;
      font-size: 18px;
      line-height: 32px;
      text-align: center; }
      @media (max-width: 767px) {
        section.resume .header .title, #resume .header .title {
          margin-top: 0; } }
    section.resume .header ul.contact, #resume .header ul.contact {
      text-align: right;
      margin: 5px 0;
      list-style: none;
      line-height: 16px; }
      @media (max-width: 767px) {
        section.resume .header ul.contact, #resume .header ul.contact {
          text-align: center;
          margin-top: 0; } }
      section.resume .header ul.contact li, #resume .header ul.contact li {
        word-wrap: break-word; }
  section.resume .section h4, #resume .section h4 {
    font-size: 18px;
    background-color: #333333;
    color: #F8F8F8;
    padding: 2px 10px; }
  section.resume .section h5, #resume .section h5 {
    font-size: 15px;
    background-color: #EBEBEB;
    border-color: #BCBCBC #DDDDDD #DDDDDD #BCBCBC;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    padding: 1px 10px; }
  section.resume .section h6, #resume .section h6 {
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #000000;
    line-height: 20px; }
    section.resume .section h6 span, #resume .section h6 span {
      font-style: italic;
      float: right; }
  section.resume table, #resume table {
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    width: 100%; }
    section.resume table td, section.resume table th, #resume table td, #resume table th {
      padding: 4px 8px;
      border: 1px solid #DDDDDD; }
    section.resume table th, #resume table th {
      background-color: #EEEEEE;
      font-weight: normal; }
  section.resume .footer, #resume .footer {
    border-top: 1px solid #CCC;
    text-align: center;
    font-size: 14px;
    line-height: 40px; }

