html, body {
    height: 100%;
    width: 100%;
    margin: 0;

}

body {
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 0;
}

canvas {
    z-index: 1;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-image: -webkit-radial-gradient(circle, rgba(0,0,0,0.7), rgba(255,255,255,0.4));
    background-image: -moz-radial-gradient(circle, rgba(0,0,0,0.7), rgba(255,255,255,0.4));
    background-image: -ms-radial-gradient(circle, rgba(0,0,0,0.7), rgba(255,255,255,0.4));
    background-image: -o-radial-gradient(circle, rgba(0,0,0,0.7), rgba(255,255,255,0.4));
    background-image: radial-gradient(circle, rgba(0,0,0,0.7), rgba(255,255,255,0.4));
}