<header>
    <h2>Today, I</h2>
    <h3>as of <span class="current-time"></span></h3>
</header>
<!-- <div class="foursquare-checkins"></div> -->
<p>Dashboard under construction. <a href="https://github.com/stevehollaar/www">Check on my progress.</a></p>