<div class="hack row">
    <div class="col-sm-5 hack-image">
        <a href="https://github.com/stevehollaar/www"><img src="img/hacks/stevehollaar.com.png" alt="stevehollaar.com"></a>
    </div>
    <div class="col-sm-7 hack-description-container">
        <div class="hack-description">
            <a class="hack-title" href="https://github.com/stevehollaar/www">stevehollaar.com</a>
            <p class="timeframe">Mar 2014 - Present</p>
            <p class="description">How meta is this? See the code that runs this site, a (mostly) single-page Backbone.js app hosted on a Node/Express + MongoDB server.</p>
        </div>
    </div>
    <div class="connecting-line"></div>
</div>

<div class="hack row">
    <div class="col-sm-5 hack-image">
        <a href="/hacks/falling"><img src="img/hacks/falling.png" alt="Falling"></a>
    </div>
    <div class="col-sm-7 hack-description-container">
        <div class="hack-description">
            <a class="hack-title" href="/hacks/falling">Falling</a>
            <p class="timeframe">Nov 2012</p>
            <p class="description">A trippy experience of falling through a twisting pit of randomly-colored squares. I made this while learning the HTML5 Canvas API.</p>
        </div>
    </div>
    <div class="connecting-line"></div>
</div>

<div class="hack row">
    <div class="col-sm-5 hack-image">
        <a href="/hacks/minesweeper"><img src="img/hacks/minesweeper.png" alt="Minesweeper"></a>
    </div>
    <div class="col-sm-7 hack-description-container">
        <div class="hack-description">
            <a class="hack-title" href="/hacks/minesweeper">Minesweeper</a>
            <p class="timeframe">May 2014</p>
            <p class="description">Everyone's favorite time-waster</p>
        </div>
    </div>
    <div class="connecting-line"></div>
</div>