<a href="https://github.com/stevehollaar/www" target="_blank"><div class="hack">
    <h3>stevehollaar.com</h3>
    <img src="img/hacks/stevehollaar.com.png" alt="stevehollaar.com">
    <p class="description">How meta is this? See the code that runs this site. This is a (mostly) single-page Backbone.js app that runs on a Node/Express + MongoDB server</p>
</div></a>
