<div class="row header">
    <div class="col-sm-4">
        <h3 class="city">San Francisco, CA</h3>
    </div>
    <div class="col-sm-4">
        <h2 class="title">Web Application Engineer</h2>
    </div>
    <div class="col-sm-4">
        <ul class="contact">
            <li>Email: <a href="mailto:steve.hollaar@gmail.com">steve.hollaar@gmail.com</a></li>
            <li>Site: <a href="http://stevehollaar.com">stevehollaar.com</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 section summary">
        <h4>Summary</h4>
        <ul>
            <li>Generalist web engineer, with a focus on Javascript applications</li>
            <li>2.5 years of internship experience, 1 year full-time experience</li>
            <li>Dual citizen of USA and Canada</li>
        </ul>
    </div>
    <div class="col-sm-6 section stack">
        <h4>Familiar Stack</h4>
        <table>
            <tbody>
                <tr>
                  <th scope="row">Languages</th>
                  <td>Javascript, Python, Unix Shell, SQL</td>
                </tr>
                <tr>
                  <th scope="row">Web Technologies</th>
                  <td>HTML, CSS/SASS, Node.js</td>
                </tr>
                <tr>
                  <th scope="row">Libraries/Frameworks</th>
                  <td>Django, Express, Backbone.js, jQuery</td>
                </tr>
                <tr>
                  <th scope="row">Databases/Caching</th>
                  <td>MySQL, PostgreSQL, SQLite, MongoDB, Redis</td>
                </tr>
                <tr>
                  <th scope="row">Dev Tools</th>
                  <td>Sublime, Git, Github, Jenkins CI, Jasmine, Selenium</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 section work">
        <h4>Work Experience</h4>
        <div class="company">
            <h5>Inkling Systems Inc.</h5>
            <div class="job">
                <h6>Web Application Engineer <span>San Francisco, CA: July 2013 - May 2014</span></h6>
                <ul>
                    <li>Client and server-side web application engineering
                        <ul>
                            <li>Led projects that collaborated with design, product, and other engineering teams</li>
                            <li>Scoped and architected large features</li>
                            <li>Designed RESTful APIs</li>
                        </ul>
                    </li>
                    <li>Independently designed and built internal tools</li>
                    <li>Improved testing infrastructure</li>
                </ul>
            </div>
            <div class="job">
                <h6>Web Application Engineer Intern <span>San Francisco, CA: Fall 2012</span></h6>
                <ul>
                    <li>Client-side web application engineering on <a href="http://inkling.com/read" target="_blank">Inkling for Web</a>, an HTML5 book reader app
                        <ul>
                            <li>Extended cross-browser compatibility</li>
                            <li>Built features and fixed bugs</li>
                            <li>Wrote unit and integration tests</li>
                        </ul>
                    </li>
                    <li>Internship Evaluation: <span>Outstanding</span></li>
                </ul>
            </div>
        </div>
        <div class="company">
            <h5>Datalot Inc.</h5>
            <div class="job">
                <h6>Web Developer Intern <span>Brooklyn, NY: Winter 2012</span></h6>
                <ul>
                    <li>Built client-facing REST APIs</li>
                    <li>Designed and configured a multi-server production MongoDB cluster</li>
                    <li>Re-factored and built out internal reporting system</li>
                    <li>Implemented various functionality and performance enhancements across the full stack</li>
                    <li>Internship Evaluation: <span>Outstanding</span></li>
                </ul>
            </div>
        </div>
        <div class="company">
            <h5>TD Bank Financial Group</h5>
            <div class="job">
                <h6>Software Developer Intern <span>Toronto, ON, Canada: Spring 2011</span></h6>
                <ul>
                    <li>Built performance optimizations into an exotic derivative pricing library</li>
                    <li>Implemented GUI enhancements and fixes into a front office trading system</li>
                    <li>Designed and developed a database system for storing historic risk metrics</li>
                    <li>Assisted team with release testing</li>
                    <li>Internship Evaluation: <span>Excellent</span></li>
                </ul>
            </div>
        </div>
        <div class="company">
            <h5>BMO Financial Group</h5>
            <div class="job">
                <h6>Performance Reporting Specialist Intern <span>Toronto, ON, Canada: Fall 2010</span></h6>
                <ul>
                    <li>Lead development on a web-based reporting application
                        <ul>
                            <li>Interfaced with business partners to present ideas and solicit feedback</li>
                            <li>Overhauled back-end using a combination of SAS and SQL</li>
                            <li>Designed robust front-end using MS Reporting Services</li>
                        </ul>
                    </li>
                    <li>Developed efficient and scalable ETL processes in SAS to support web applications</li>
                    <li>Performed ad-hoc analysis and testing on large datasets</li>
                    <li>Internship Evaluation: <span>Outstanding</span></li>
                </ul>
            </div>
        </div>
        <div class="company">
            <h5>Manulife Financial Corp.</h5>
            <div class="job">
                <h6>IT Planning Analyst Intern <span>Toronto, ON, Canada: Winter 2010</span></h6>
                <ul>
                    <li>Managed SDLC for an IT incident tracking system
                        <ul>
                            <li>Solicited requirements and feedback from key stakeholders</li>
                            <li>Designed and developed database, including searches and custom reporting interfaces</li>
                            <li>Presented system, highlighting benefits to application managers and project sponsors</li>
                            <li>Implemented and transitioned to new system, providing user/administrator documentation</li>
                        </ul>
                    </li>
                    <li>Improved and automated reporting processes in multiple business areas</li>
                    <li>Internship Evaluation: <span>Outstanding</span></li>
                </ul>
            </div>
        </div>
        <div class="company">
            <h5>PricewaterhouseCoopers LLP</h5>
            <div class="job">
                <h6>Application Support Analyst Intern <span>Toronto, ON, Canada: Winter, Fall 2008</span></h6>
                <ul>
                    <li>Administrated firm-wide CRM system, assisting users to complete business functions</li>
                    <li>Created documentation and conducted training on support practices</li>
                    <li>Communicated technical issues between business users and various development teams</li>
                    <li>Assessed needs of external and internal clients and configured online collaboration tools</li>
                    <li>Performed structured testing on an enterprise-level client account management system and an IT incident tracking system</li>
                    <li>Internship Evaluation: <span>Outstanding, Excellent</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 section education">
        <h4>Education</h4>
        <h5>University of Waterloo</h5>
        <h6>Bachelor of Applied Science in Honours Management Engineering <span>Waterloo, ON, Canada: 2007 - 2013</span></h6>
        <h7>Sample Courses</h7>
        <table>
            <tbody>
                <tr>
                  <th scope="row">Computer Science</th>
                  <td>Programming, Algorithms, Data Structures, Digital Computation, Networks, Information Retrieval</td>
                </tr>
                <tr>
                  <th scope="row">Business/Management</th>
                  <td>Economics, Managerial Accounting, Operations Planning, Organizational Behaviour &amp; Design, Work Design</td>
                </tr>
                <tr>
                  <th scope="row">Software</th>
                  <td>Data Warehousing and Mining, Databases, Human-Computer Interaction, Info. Systems Design, Software Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Math</th>
                  <td>Calculus, Linear Algebra, Optimization, Probability, Simulation, Statistics, Stochastic Models</td>
                </tr>
                <tr>
                  <th scope="row">Engineering</th>
                  <td>Chemistry, Electrical Engineering, Materials, Mechanics, Physics, Thermodynamics</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 section certification">
        <h4>Certification</h4>
        <h5>Canadian Securities Institute</h5>
        <h6>Canadian Securities Course (CSC) <span>Sept 2010</span></h6>
        <ul>
            <li>Base level industry certification for Canadian investment management</li>
        </ul>
    </div>
    <div class="col-sm-6 section interests">
        <h4>Other Interests</h4>
        <ul>
            <li>Staying current on world, science, tech, and political news</li>
            <li>Discovering new <a href="http://www.last.fm/user/stevehollaar" target="_blank">music</a></li>
            <li>Reading - scifi/fantasy and nonfiction/educational</li>
            <li>World travelling - exploring new cities, museums, restaurants, etc.</li>
        </ul>
    </div>
</div>