<table id="header" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
        <td class="width30 left divider">
        San Francisco, CA
        </td>
        <td class="center divider">
            <p class="title">Web Application Engineer</p>
        </td>
        <td class="width30 right divider">
            Email: <a href="mailto:steve.hollaar@gmail.com">steve.hollaar@gmail.com</a>
        </td>
    </tr>
</tbody></table>
<table class="width100">
    <tbody>
        <tr>
            <td class="width50 top">
                <h2>Summary</h2>
                <ul>
                    <li>Generalist web engineer, with a focus on Javascript applications</li>
                    <li>2.5 years of internship experience, 1 year full-time experience</li>
                    <li>Dual citizen of USA and Canada</li>
                </ul>
            </td>
            <td class="width50 top">
                <h2>Familiar Stack</h2>
                <table class="default" width="100%">
                  <tbody>
                    <tr>
                      <th scope="row" style="width: 20%;">Languages</th>
                      <td>Javascript, Python, Unix Shell, SQL</td>
                    </tr>
                    <tr>
                      <th scope="row" style="width: 20%;">Web Technologies</th>
                      <td>HTML, CSS/SASS, Node.js</td>
                    </tr>
                    <tr>
                      <th scope="row" style="width: 20%;">Libraries/Frameworks</th>
                      <td>Django, Express, Backbone.js, jQuery</td>
                    </tr>
                    <tr>
                      <th scope="row" style="width: 20%;">Databases/Caching</th>
                      <td>MySQL, PostgreSQL, SQLite, MongoDB, Redis</td>
                    </tr>
                    <tr>
                      <th scope="row" style="width: 20%;">Dev Tools</th>
                      <td>Sublime, Git, Github, Jenkins CI, Jasmine, Selenium</td>
                    </tr>
                  </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<h2>Work Experience</h2>
<div>
    <h3>Inkling Systems Inc.</h3>
    <h4>Web Application Engineer: <em class="frigt">San Francisco, CA: July 2013 - May 2014</em></h4>
    <ul>
        <li>Client and server-side web application engineering
            <ul>
                <li>Led projects that collaborated with design, product, and other engineering teams</li>
                <li>Scoped and architected large features</li>
                <li>Designed RESTful APIs</li>
            </ul>
        </li>
        <li>Independently designed and built internal tools</li>
        <li>Improved testing infrastructure</li>
    </ul>
    <h4>Web Application Engineer Intern: <em class="frigt">San Francisco, CA: Fall 2012</em></h4>
    <ul>
        <li>Client-side web application engineering on <a href="http://inkling.com/read" target="_blank">Inkling for Web</a>, an HTML5 book reader app
            <ul>
                <li>Extended cross-browser compatibility</li>
                <li>Built features and fixed bugs</li>
                <li>Wrote unit and integration tests</li>
            </ul>
        </li>
        <li>Internship Evaluation: <span>Outstanding</span></li>
    </ul>
</div>
<div>
    <h3>Datalot Inc.</h3>
    <h4>Web Developer Intern: <em class="frigt">Brooklyn, NY: Winter 2012</em></h4>
    <ul>
        <li>Built client-facing REST APIs</li>
        <li>Designed and configured a multi-server production MongoDB cluster</li>
        <li>Re-factored and built out internal reporting system</li>
        <li>Implemented various functionality and performance enhancements across the full stack</li>
        <li>Internship Evaluation: <span>Outstanding</span></li>
    </ul>
</div>
<div>
    <h3>TD Bank Financial Group</h3>
    <h4>Software Developer Intern: <em class="frigt">Toronto, ON, Canada: Spring 2011</em></h4>
    <ul>
        <li>Built performance optimizations into an exotic derivative pricing library</li>
        <li>Implemented GUI enhancements and fixes into a front office trading system</li>
        <li>Designed and developed a database system for storing historic risk metrics</li>
        <li>Assisted team with release testing</li>
        <li>Internship Evaluation: <span>Excellent</span></li>
    </ul>
</div>
    <div>
    <h3>BMO Financial Group</h3>
    <h4>Performance Reporting Specialist Intern: <em class="frigt">Toronto, ON, Canada: Fall 2010</em></h4>
    <ul>
        <li>Lead development on a web-based reporting application
            <ul>
                <li>Interfaced with business partners to present ideas and solicit feedback</li>
                <li>Overhauled back-end using a combination of SAS and SQL</li>
                <li>Designed robust front-end using MS Reporting Services</li>
            </ul>
        </li>
        <li>Developed efficient and scalable ETL processes in SAS to support web applications</li>
        <li>Performed ad-hoc analysis and testing on large datasets</li>
        <li>Internship Evaluation: <span>Outstanding</span></li>
    </ul>
</div>
<div>
    <h3>Manulife Financial Corp.</h3>
    <h4>IT Planning Analyst Intern: <em class="frigt">Toronto, ON, Canada: Winter 2010</em></h4>
    <ul>
        <li>Managed SDLC for an IT incident tracking system
            <ul>
                <li>Solicited requirements and feedback from key stakeholders</li>
                <li>Designed and developed database, including searches and custom reporting interfaces</li>
                <li>Presented system, highlighting benefits to application managers and project sponsors</li>
                <li>Implemented and transitioned to new system, providing user/administrator documentation</li>
            </ul>
        </li>
        <li>Improved and automated reporting processes in multiple business areas</li>
        <li>Internship Evaluation: <span>Outstanding</span></li>
    </ul>
</div>
<div>
    <h3>PricewaterhouseCoopers LLP</h3>
    <h4>Application Support Analyst Intern: <em class="frigt">Toronto, ON, Canada: Winter, Fall 2008</em></h4>
    <ul>
        <li>Administrated firm-wide CRM system, assisting users to complete business functions</li>
        <li>Created documentation and conducted training on support practices</li>
        <li>Communicated technical issues between business users and various development teams</li>
        <li>Assessed needs of external and internal clients and configured online collaboration tools</li>
        <li>Performed structured testing on an enterprise-level client account management system and an IT incident tracking system</li>
        <li>Internship Evaluation: <span>Outstanding, Excellent</span></li>
    </ul>
</div>
<h2>Education</h2>
<div>
    <h3>University of Waterloo</h3>
    <h4>Bachelor of Applied Science in Honours Management Engineering: <em class="frigt">Waterloo, ON, Canada: 2007 - 2013</em></h4>
    <h5>Sample Courses</h5>
    <table class="default" summary="A summary of courses taken by domain.">
        <tbody>
            <tr>
              <th scope="row" style="width: 20%;">Computer Science</th>
              <td>Programming, Algorithms, Data Structures, Digital Computation, Networks, Information Retrieval</td>
            </tr>
            <tr>
              <th scope="row" style="width: 20%;">Business/Management</th>
              <td>Economics, Managerial Accounting, Operations Planning, Organizational Behaviour &amp; Design, Work Design</td>
            </tr>
            <tr>
              <th scope="row" style="width: 20%;">Software Design</th>
              <td>Data Warehousing and Mining, Databases, Human-Computer Interaction, Info. Systems Design, Software Eng.</td>
            </tr>
            <tr>
              <th scope="row" style="width: 20%;">Math</th>
              <td>Calculus, Linear Algebra, Optimization, Probability, Simulation, Statistics, Stochastic Models</td>
            </tr>
            <tr>
              <th scope="row" style="width: 20%;">Engineering</th>
              <td>Chemistry, Electrical Engineering, Materials, Mechanics, Physics, Thermodynamics</td>
            </tr>
        </tbody>
    </table>
</div>
<h2>Certification</h2>
<div>
    <h3>Canadian Securities Institute</h3>
    <h4>Canadian Securities Course (CSC): <em class="frigt">Sept 2010</em></h4>
    <ul>
        <li>Base level industry certification for Canadian investment management</li>
    </ul>
</div>
<h2>Other Interests</h2>
<ul>
    <li>Staying current on world, science, tech, and political news</li>
    <li>Discovering new <a href="http://www.last.fm/user/stevehollaar" target="_blank">music</a></li>
    <li>Reading - scifi/fantasy and nonfiction/educational</li>
    <li>World travelling - exploring new cities, museums, restaurants, etc.</li>
</ul>