@import 'variables';

section.dashboard {
    header {
        text-align: center;

        h2 {
            margin-bottom: 5px;
        }

        h3 {
            margin: 0;
            font-size: 16px;
            color: #aaa;
        }
    }
}