@import 'variables';

section.hacks {
    .hack {
        margin-top: 30px;
        position: relative;

        .connecting-line {
            content: '';
            border: 2px solid $color-accent-2;
            position: absolute;
            z-index: -1;

            @media(max-width:767px){
                top: 25%;
                bottom: 25%;
                left: 50%;
            }

            @media(min-width:768px){
                top: 50%;
                left: 25%;
                right: 25%;
            }
        }

        .hack-image {
            img {
                max-height: 250px;
                display: block;
                margin: 0 auto;
                border: 3px solid $color-accent-2;

                @media(max-width:767px){
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .hack-description-container {
            @media(max-width:767px){
                margin-top: 20px;
            }

            @media(min-width:768px){
                height: 250px;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                    margin-right: -0.5em; /* Adjusts for spacing */
                }
            }

            .hack-description {
                vertical-align:middle;
                display: inline-block;
                width: 100%;
                padding: 10px 15px;
                color: $color-white;
                background-color: rgba(7,7,22,1);
                border: 3px solid $color-accent-2;

                .hack-title {
                    font-size: 24px;
                }
            }
        }
    }
}