$color-white: #fff;
$color-black: #070716;
$color-black-lighter: #868695;
$color-light-blue: #1ebad6;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
    font-family: $font-family;
}

h1.title {
    font-size: 50px;

    span {
        color: $color-light-blue;
    }
}

header {
    text-align: center;

    h1 {
        margin: 20px 0;
    }
}

nav {
    background-color: $color-black;
    border-top: 2px solid $color-light-blue;

    .page {
        color: $color-white;
        text-align: center;
        background-color: $color-black;
        padding: 15px 0;

        h2 {
            font-size: 18px;
            margin: 0;
        }

        &.active, &:hover, &:active {
            cursor: default;
            color: $color-black;
            background-color: $color-light-blue;
        }

        &:not(.active) {
            cursor: pointer;
        }
    }

}

.page-description-container {
    background-color: $color-black;
    color: $color-white;
    border-bottom: 2px solid $color-light-blue;


    .page-description {
        border-top: 2px solid $color-light-blue;
        padding: 10px 0;

        &:not(.active) {
            display: none;
        }

        @media(min-width:768px){
            border-left: 2px solid $color-light-blue;
            border-right: 2px solid $color-light-blue;
        }

        p {
            margin: 0;
        }
    }

    transition: height 1s;
}