@import 'variables';

body {
    font-family: $font-family;
}

a {
    color: $color-accent;

    &:hover {
        color: $color-accent-darken;
    }
}

h1.title {
    font-size: 40px;
    text-align: center;
    margin: 10px 0;

    span {
        color: $color-accent;
    }

    @media(min-width:768px){
        font-size: 50px;
        margin: 20px 0;
    }
}

nav {
    background-color: $color-black;
    border-top: 1px solid $color-accent;

    .page {
        color: $color-white;
        text-align: center;
        background-color: $color-black;
        padding: 10px 0;

        @media(min-width:768px){
            padding: 15px 0;
        }

        h2 {
            font-size: 18px;
            margin: 0;
        }

        &.active, &:hover, &:active {
            cursor: default;
            color: $color-black;
            background-color: $color-accent;
        }

        &:not(.active) {
            cursor: pointer;
        }
    }
}

.page-description-container {
    background-color: $color-black;
    color: $color-white;
    border-bottom: 1px solid $color-accent;
    border-top: 1px solid $color-accent;

    .page-description {
        padding: 10px;

        &:not(.active) {
            display: none;
        }

        p {
            font-size: 14px;
            text-align: center;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

main {
    margin: 15px 25px ($footer-height + 15px);

    section {
        margin: 0 auto ;
        max-width: 1000px;

        &:not(.active){
            display: none;
        }
    }
}

footer {
    border-top: 1px solid $color-accent;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height;
    background-color: $color-black-transparent;

    p {
        line-height: $footer-height;
        text-align: center;
        color: $color-white;
    }
}