$color-white: #fff;
$color-black: #070716;
$color-black-lighter: #868695;
$color-accent: #1ebad6;
$color-accent-darken: #0087A3;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
    font-family: $font-family;
}

a {
    color: $color-accent;

    &:hover {
        color: $color-accent-darken;
    }
}

h1.title {
    font-size: 40px;
    text-align: center;
    margin: 10px 0;

    span {
        color: $color-accent;
    }

    @media(min-width:768px){
        font-size: 50px;
        margin: 20px 0;
    }
}

nav {
    background-color: $color-black;
    border-top: 2px solid $color-accent;

    .page {
        color: $color-white;
        text-align: center;
        background-color: $color-black;
        padding: 15px 0;


        h2 {
            font-size: 18px;
            margin: 0;
        }

        &.active, &:hover, &:active {
            cursor: default;
            color: $color-black;
            background-color: $color-accent;
        }

        &:not(.active) {
            cursor: pointer;
        }
    }

}

.page-description-container {
    background-color: $color-black;
    color: $color-white;
    border-bottom: 2px solid $color-accent;


    .page-description {
        border-top: 2px solid $color-accent;
        padding: 10px;

        &:not(.active) {
            display: none;
        }

        @media(min-width:768px){
            border-left: 2px solid $color-accent;
            border-right: 2px solid $color-accent;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    transition: height 1s;
}

main {
    section {
        &:not(.active){
            display: none;
        }
    }
}