$color-white: #FFFFFF;
$color-black: #070716;
$color-black-transparent: rgba(7, 7, 22, 0.7);
$color-accent-1: #1EBAD6;
$color-accent-1-darken: #0087A3;
$color-accent-1-lighten: #E0F6FA;
$color-accent-2: #FFB91E;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$footer-height: 40px;