<div class="info-window">
    <h4>{{venue.name}} <span class="time">{{formatSecondsDate createdAt 'timeOnly'}}</span></h4>
    <p>{{venue.beenHere.count}} checkin{{pluralize venue.beenHere.count}} here</p>
</div>